div.file {
  box-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.1);
}

body {
  background-color: hsl(140, 33%, 75%);
  color: black;
}

div.content, code {
  background: hsl(204, 33%, 90%);
}
tt, pre.console {
  background: hsl(160, 33%, 40%);
  color: white;
}

div.annotation h1 {
  background: hsl(160, 33%, 40%);
  color: white;
}

body > nav {
  position: absolute;
  left: 20px;
  top: 125px;
}
