# Slowpost [systemd](http://freedesktop.org/wiki/Software/systemd/) unit file for [CoreOS](https://coreos.com/).
#
# Slowpost HTTPS service runs in a container named `slowpost_container` from a [Docker](https://docker.com/) image named `slowpost_image`.
# It listens on port `443` and it expects to have read and write access to a persistent folder at `/slowpost/storage` on the host machine.

[Unit]
Description=work toward the attrition of unencrypted mail
After=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm --name slowpost_container --publish 443:443 --volume /slowpost/storage:/slowpost/data slowpost_image
ExecStop=/usr/bin/docker stop slowpost_container
